<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698872410189-u417bn6ttj0qkdoh49dril8kib9b91k0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698872410189-u417bn6ttj0qkdoh49dril8kib9b91k0</string>
	<key>API_KEY</key>
	<string>AIzaSyBaup8Ghm1SFtUbH0A1D5AdT1ICcRyG1cI</string>
	<key>GCM_SENDER_ID</key>
	<string>698872410189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.myataofficial.ios</string>
	<key>PROJECT_ID</key>
	<string>myata24com</string>
	<key>STORAGE_BUCKET</key>
	<string>myata24com.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698872410189:ios:1add0d68c3750bbd</string>
	<key>DATABASE_URL</key>
	<string>https://myata24com.firebaseio.com</string>
</dict>
</plist>